<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Thank you!</title>
    </head>
    <body>
        <h1>Amount of people: </h1>
        <h1 th:text="${amount}">Welcome!</h1>
        <table>
            <tr>
                <th>Participants</th>

            </tr>
            <tr th:each="prod : ${people}">
                <td th:utext="${prod.name}">Onions</td>
            </tr>

        </table>
        <form th:action="@{/form}" method="GET" enctype="multipart/form-data">         



            <button>Back to signing up</button>

        </form>
        <form th:action="@{/all}" method="GET" enctype="multipart/form-data">         



            <button>All Data</button>

        </form>



    </body>
</html>
